/* Featurettes
p, h2, h4, h5{
  text-align: justify;
}
*/
*{
font-family: 'Quicksand', sans-serif;
}
header {
  background-color: #007f82;
  font-size: 20;
}

.cuerpo-web {
  padding-top: 3em;
  padding-bottom: 3em;
}

header p{
  font-size: 2em;
}

.menu {
  background-color: #002449;
}

.row-menu {
  margin-left: 1em!important;
}

.logo {
  display: block;
  float: left;
}

.logo img {
  height: 2em;
}

.nav-link {
  color: white!important;
}

.social-list-01 {
  padding: 0;
}

.social-list-01 {
  padding-top: 1em;
  text-align: left;
}

.social-list-01 li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding-right: 1em;
}

.social-list-01 li a {
  display: block;
  color: white!important;
}

.social-list-01 li a:hover {
  display: block;
  color: #045654!important;
}

.home-01 .social-list-01 li a i {
  color: #fff;
}

.contact-block-01 {
  float: right;
  padding: 1em;
}

.contact-block-01__email {
  font-size: 14px;
  line-height: 16px;
  color: white;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 26px;
}

.contact-block-01__email i:hover {
  color: #045654!important;
}

.contact-block-01__phone {
  font-size: 14px;
  line-height: 16px;
  color: white;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 20px;
  letter-spacing: 0.6px;
  margin: 0 0 0 37px;
}

.contact-block-01__phone i:hover {
  color: #045654!important;
}

.carousel {
  margin-bottom: 5rem;
}

.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  min-width: 100%;
  width: 100%;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.container-services .col-lg-4 {
  text-align: center;
}

/* Featurettes */

.featurette-divider {
  margin: 3rem 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.nav-item {
  padding-right: 1em;
}

/* RESPONSIVE CSS */
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/*Footer css*/
footer{
  border-top: 2px solid black;
  padding-top: 4em;
  background-color: #007f82;
}

footer p{
  text-align: justify;
}
.footer-box-01 {
  padding-bottom: 1em;

}
.footer-box-02 {
  padding-top: 1em;
  background-color: #002449;
  border-top: 1px solid white;
  color: white;
}
.footer-info {
  text-align: right;

}

/* Us CSS */
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}

.imgBounce{
  position: absolute;
  border-radius: 50%;
  line-height: 180px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
   animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
