/*! Shit dude!!!!!!!!!!!!!!!!!!!!!!*/
header {
  background-color: #006668;
  font-size: 20;
}
header p{
  font-size: 2em;
}
.menu {
  background-color: #022F40;
}
.logo {
  display: block;
  float: left;
}
.logo img {
  height: 2em;
}
.nav-link {
  color: white!important;
}
/* Social list
------------------------- */
.social-list-01 {
    padding: 0;
}
.social-list-01 {
    padding: 12px 0;
    text-align: left;
}
.social-list-01 li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
}
.social-list-01 li a {
    display: block;
}
.home-01 .social-list-01 li a i {
    color: #fff;
}
.contact-block-01 {
    float: right;
    padding: 12px 15px;
}
.contact-block-01__email {
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 26px;
}
.contact-block-01__phone {
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 20px;
    letter-spacing: 0.6px;
    margin: 0 0 0 37px;
}
/* Carrousel
------------------------- */
.carousel {
  margin-bottom: 5rem;
}
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  min-width: 100%;
  width: 100%;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
--------------------------- */
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
